/* global.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para o corpo */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para o layout */
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Estilos para o Header */
  .ant-layout-header {
    background-color: rgba(14, 57, 94, 0.8);
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .ant-layout-header img {
    height: 60px;
  }
  
  .ant-layout-header .navbar-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .ant-layout-header .contact-button {
    height: 40px;
    width: 20%;
    background-color: #8B173B;
    border-color: #8B173B;
    color: white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Estilos para o Content */
  .ant-layout-content {
    margin-top: 0px; /* Ajuste para evitar sobreposição do header fixo */
    padding: 0px;
    background-color: #fff;
    flex: 1;
  }
  
  /* Estilos para o Footer */
  .ant-layout-footer {
    text-align: center;
    background-color: white;
  }

  .ant-layout-header {
    background-color: rgba(14, 57, 94, 0.8);
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .header-content img {
    height: 7vh;
  }
  
  .navbar-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .contact-button {
    height: 40px;
    width: 20%;
    background-color: #8B173B;
    border-color: #8B173B;
    color: white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: bold;
  }
  
  